@import "fonts";
@import "settings";

$bg: #f9fbfe;
$blue: #2a5fcb;
$orange: #fc5426;
$green: #27ae60;
$dark-grey: #3e3e3e;
$light-grey: #9e9e9e;

body {
  font-family: "Montserrat", sans-serif;
  color: $dark-grey;
}

.container {
  max-width: 1138px;
  padding: 0 15px;
  margin: 0 auto;
}

.activation__wrap {
  display: flex;
}