@import "fonts";
@import "settings";

$bg: #f9fbfe;
$blue: #2a5fcb;
$orange: #fc5426;
$green: #27ae60;
$dark-grey: #3e3e3e;
$light-grey: #9e9e9e;

body {
  max-width: 1920px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-top: 285px;
  padding-bottom: 150px;
  color: $dark-grey;
  background-color: $bg;
}

.button {
  padding: 12px 35px;
  border-radius: 50px;
  background-color: $blue;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #1d49a1;
  }
}

.container {
  max-width: 1168px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  margin-bottom: 27px;
  font-size: 38px;
  font-weight: 600;
  line-height: 46px;
  text-align: left;
}

.main__wrapper {
  display: flex;
}
.navigation {
  width: 230px;
  margin-right: 60px;
}

.navigation__item {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
  padding: 20px 0 20px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: rgba(42, 95, 203, 0.15);
  }

  &:hover a {
    color: #2a5fcb;
  }
}

.navigation__item--active > .arrow {
  position: absolute;
  content: "";
  right: 0;
  top: calc(50% - 7.5px);
  width: 19px;
  height: 16px;
  background-image: url(../img/icon/arrow.png);
  background-repeat: no-repeat;
}

.arrow--active {
  display: block;
}

.section {
  margin-top: -71px;
}

.programs__input {
  position: relative;
  margin-bottom: 62px;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #c4c4c4;
  }

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
    background-image: url(../img/icon/search.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.input {
  width: 100%;
  padding: 19.5px 27px 19.5px 32px;
  background-color: transparent;
  border: none;

  &::placeholder {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: $light-grey;
  }
}

table {
  border-spacing: 0 15px;
}

th {
  padding-bottom: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: $light-grey;
  background-color: transparent;
  background-color: $bg;
}

table tr {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 0px 30px rgba(238, 238, 238, 0.5);
}
thead tr {
  box-shadow: none;
}

td {
  position: relative;
  border-right: 1px solid #eeeeee;
  padding: 0;
  margin: 0;
  height: 90px;
  &:first-child {
    border-radius: 10px 0 0 10px;
  }
  &:last-child {
    border-radius: 0 10px 10px 0;
    border: none;
  }
}

.red-circle {
  position: absolute;
  top: 0px;
  z-index: 3;
  cursor: pointer;
  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $orange;
  }

  &:hover {
    .notice__bg {
      display: block;
    }
    .notice__text {
      display: block;
    }
  }
}

.notice__wrapper {
  position: absolute;
  width: 191px;
  top: -49px;
  left: -7px;
}

.notice__text {
  display: none;
  position: absolute;
  top: 27px;
  left: 49px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #a5a5a5;
}
.notice__bg {
  display: none;
}

.number {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.name {
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}
.date {
  font-weight: 500;
  line-height: 17px;
  color: rgba(62, 62, 62, 0.5);
}
.date-red {
  color: $orange;
}

.status {
  font-weight: 500;
}

.status-active {
  color: $green;
}
.status-not-activated {
  color: #c4c4c4;
}

.show-else {
  display: block;
  margin-left: auto;
  font-weight: 500;
  line-height: 17px;
  text-align: right;
  color: #a5a5a5;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.activation__head {
  text-align: left;
  padding: 46px 24px 45px;
  background-color: rgba(42, 95, 203, 0.06);
  background-image: url(../img/bg-gears.png);
  background-repeat: no-repeat;
}

.activation__text-one {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
}
.activation__text-two {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}

.activation__info {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 30px 24px 45px;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #dedcdc;
  }

  &:last-child::before {
    content: none;
  }
}
.activation__info-text {
  width: 321px;
  font-weight: 500;
}

.activation__info-text p {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.text-grey {
  color: #a5a5a5;
}

.icon-info {
  position: relative;
}

.info-notice-icon {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 3;
  cursor: pointer;

  &:hover {
    .info-notice__wrapper {
      display: block;
    }
  }
}

.info-notice-icon::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/info.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.info-notice__wrapper {
  display: none;
  position: absolute;
  top: -47px;
  left: -12px;
}

.info-notice__text {
  position: absolute;
  top: 41px;
  left: 55px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #a5a5a5;
  p {
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.activation__info-button {
  align-self: flex-end;
}

.deactivate-button {
  background-color: #fff;
  color: $blue;
  border: 1px solid $blue;
  &:hover {
    background-color: #1d49a1;
    color: #fff;
  }
}

.modal {
  position: fixed;
  width: 600px;
  margin: 0 auto;
  padding: 40px 45px;
  background-color: #fff;
  border-radius: 10px;
}

.modal-activation-code {
  top: 100px;
  left: calc(50% - 300px);
  display: none;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: -55px;
  width: 45px;
  height: 45px;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  &::before {
    position: absolute;
    content: "";
    top: 15px;
    right: 0px;
    width: 45px;
    height: 3px;
    background-color: #fff;
    transform: rotate(45deg);
    border-radius: 15px;
    cursor: pointer;
  }
  &::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 0px;
    width: 45px;
    height: 3px;
    background-color: #fff;
    transform: rotate(-45deg);
    border-radius: 15px;

    cursor: pointer;
  }
}

.modal-show {
  display: block;
  z-index: 5;
}

.modal__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin-bottom: 15px;
}
.modal__subtitle {
  font-weight: 500;
  line-height: 18px;
  color: rgba(62, 62, 62, 0.5);
  margin-bottom: 30px;
}
.modal__comment {
  width: 100%;
  min-height: 118px;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid rgba(196, 196, 196, 1);
  border-radius: 5px;
  resize: none;

  &::placeholder {
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: rgba(62, 62, 62, 0.5);
  }
}

.modal__code {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.modal__code input {
  padding: 12px 9px;
  width: 30px;

  background-color: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  &::placeholder {
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #c4c4c4;
  }
}

.modal__button {
  background-color: #fff;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.layout-bg {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 0;
}

@media (max-width: 1400px) {
  body {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
@media (max-width: 1100px) {
  .navigation {
    width: 206px;
    margin-right: 35px;
  }

  .title {
    font-size: 35px;
  }
  .number {
    font-size: 14px;
  }
}
